{profiles, [
    {test, [
        {erl_opts, [
            debug_info
        ]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {xref_checks, [undefined_function_calls]},
        {deps, [
            {pcapfile, {git, "https://github.com/ates/pcapfile.git", {branch, "master"}}}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}]}.
